---
layout: layouts/home.njk
tags:
  - nav
navtitle: Home
---

<p>{{ metadata.description }}</p>

<h1>Hottest 3 Projs</h1>

{% set projectslist = collections.projects | head(-3) %}
{% include "projectslist.njk" %}
